
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="./static/main.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="v2_2">
      <div class="name"></div>
      <div class="v2_4"></div>
      <!-- <div class="v7_3"></div> -->
      <span class="v2_11" >
        Your Summary: 
        <br>
          {{out}}
        </br> 
      </span>
      <div class="v2_13"></div>
      <span class="v32_3">
        This web application allows you to get a brief summary of text. Some examples of documents you can submit include research papers, news articles, etc. Our current summary sentence length is set at 3! Feel free to ask about our algorithms or ask for a demonstration!
      </span>
      <div class="v39_5"></div>
      <div class="v2_6"></div>
      <span class="v7_2"> 
        Write some text to summarize! 
        <br> 
        <form method="post">
          <textarea id="to_summarise" name="to_summarise" rows="30" cols="65">
          {{text}}
          </textarea>
          <br>
          <input type="submit" value="Summarize"> 
        </form>
      </span>
      <div class="name"></div>
    </div>
  </body>
</html>
